@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.allContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 90vw;
  position: relative;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.btns .btn {
  background: transparent;
  color: white;
  padding: 0.5rem 1rem;
  width: 15rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0.5rem 0rem 1rem black;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  border: 1px solid black;
  font-weight: 600;
}

.btns .btn.active {
  color: aqua;
  box-shadow: 0rem 0rem 0.5rem aqua;
}

.btns .btn:hover {
  color: aqua;
  box-shadow: 0rem 0rem 0.5rem aqua;
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(0, 85, 255, 0.5);
}

.calculatorName {
  text-align: center;
  text-shadow: 0rem 0rem 0.5rem aqua;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
  font-weight: bold;
  font-size: 1.8rem;
}

.normalCalculator {
  opacity: 1;
  scale: 1;
  transition: 0.5s linear;
  position: absolute;
  right: 5%;
  top: 10%;
}

.normalCalculator.hide-show-nc {
  opacity: 0;
  scale: 0;
}

input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(0, 255, 251, 0.3);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #fff;
}

input::-moz-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.calBtn {
  border: none;
  width: 4rem;
  height: 4rem;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  box-shadow: 0px 3px 15px rgba(0, 255, 204, 0.3);
  cursor: pointer;
}

#zero {
  margin-left: 28%;
}

.bxs-color {
  box-shadow: 0px 0px 20px #00d9ff;
}

input:hover {
  box-shadow: 0px 0px 20px #00d9ff;
  animation: animateBg 5s linear infinite;
}

button:hover {
  box-shadow: 0px 0px 20px #00d9ff;
}

.equalBtn {
  background: #fb7c14;
}

.operator {
  color: #ffdd00;
}

.bmiCalculator {
  opacity: 0;
  scale: 0;
}

.bmiCalculator.show-hide-bmic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  opacity: 1;
  scale: 1;
  transition: 0.5s linear;
  position: absolute;
  right: 5%;
  top: 10%;
}

#bmiCalculator .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
}

.content .inputsBMI {
  height: 3rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}

input {
  height: 100%;
  cursor: auto;
  border: 1px solid white;
  outline: none;
  font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.content .BMIcalculateBtn {
  padding: 0.3rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  background: #fafafa;
  border: 2px solid aqua;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

#bmiCalculator .result {
  width: 100%;
  color: white;
  font-weight: bold;
}

.result #bmiResult {
  color: aqua;
  font-size: 1.2rem;
}

#bmiCalculator .bmiComment {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sampleInterest {
  scale: 0;
  opacity: 0;
  pointer-events: auto;
}

.sampleInterest.show-hide-sic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  opacity: 1;
  scale: 1;
  transition: 0.5s linear;
  position: absolute;
  right: 5%;
  top: 10%;
  height: 35rem;
  z-index: 1000;
}

.sInterest {
  height: 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 80%;
}

.sInterest input {
  width: 50%;
}

.allCalBtn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.resultInterestContainer {
  font-size: 1.5rem;
  color: white;
  display: none;
}

.resultInterestContainer p span {
  color: aqua;
}

.cgpaCalculator .cgpaFirstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cgpaFirstContainer input {
  text-align: left;
  font-size: 1.3rem;
}

.cgpaCalculator .cgpaSecondContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cgpaSecondContainer .cgpaSecondContainerOdderList {
  height: 25rem;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 2rem;
  display: none;
}

.cgpaSecondContainerOdderList li {
  color: white;
}

.cgpaSecondContainerOdderList li input {
  text-align: left;
}

.cgpaCalculator p {
  color: white;
  font-size: 1.3rem;
}

.cgpaCalculator #cgparesult {
  color: aqua;
}

.cgpaSecondContainer .resultsgpa-container {
  display: none;
  text-align: center;
  padding-top: 1rem;
}

@media (max-width: 1080px) {
  .calculator {
    padding: 10px;
    border-radius: 15px;
  }
  button {
    width: 40px;
    height: 50px;
    margin: 1.2rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .calculator {
    padding: 10px;
    border-radius: 15px;
  }
  button {
    width: 40px;
    height: 50px;
    margin: 1.2rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 365px) {
  .calculator {
    padding: 0px;
    border-radius: 15px;
  }
  button {
    width: 40px;
    height: 40px;
    margin: 1.1rem;
    font-size: 1.1rem;
    box-shadow: 0px 3px 15px rgba(0, 255, 204, 0.3);
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */