@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./custom_css/var";
@import "./custom_css/placingItems";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    height: 100vh;
    @include flex-box(flex,center,center);
    background: $bg-color;
    overflow: hidden;
}

.allContent
{
    @include flex-box(flex,space-between,center);
    height: 100vh;
    width: 90vw;
    position: relative;
}

//*********************[[[[[[[[[[[[[[[[[[ all type of calculators section start ]]]]]]]]]]]]]]]]]]]]**************************
.btns
{
    @include flex-box(flex,center,center);
    flex-direction: column;
    gap: 1.5rem;
}

.btns .btn
{
    background: transparent;
    color: $font-color;
    padding: .5rem 1rem ;
    width: 15rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: .5rem 0rem 1rem black;
    font-size: 1rem;
    transition: .3s ease-in-out;
    border: 1px solid black;
    font-weight: 600;
}

.btns .btn.active
{
    color: $btn-hover-color;
    box-shadow: 0rem 0rem .5rem $btn-hover-color;
}

.btns .btn:hover
{
    color: $btn-hover-color;
    box-shadow: 0rem 0rem .5rem $btn-hover-color;
}
//*********************[[[[[[[[[[[[[[[[[[ all type of calculators section end   ]]]]]]]]]]]]]]]]]]]]**************************

.calculator
{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background:transparent;
    box-shadow: 0px 3px 15px rgba(0, 85, 255, 0.5);
}

.calculatorName
{
    text-align: center;
    text-shadow: 0rem 0rem .5rem $main-color;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: $font-color;
    font-weight: bold;
    font-size: 1.8rem;
}

//**************[[[[[[[[[[[[[[[[[[[[[ Normal Calculator section start ]]]]]]]]]]]]]]]]]]]]]]]*************************
.normalCalculator
{
    // display: block;
    opacity: 1;
    scale: 1;
    transition: .5s linear;
    position: absolute;
    right: 5%;
    top: 10%;

}
.normalCalculator.hide-show-nc
{
    opacity: 0;
    scale: 0;
}

input
{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(0, 255, 251, 0.3);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color:#fff;
}

input::placeholder
{
    color: #fff;
}

.calBtn
{
    border: none;
    width: 4rem;
    height: 4rem;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0px 3px 15px rgba(0, 255, 204, 0.3);
    cursor: pointer;
}

#zero
{
    margin-left: 28%;
}

.bxs-color
{
    box-shadow: 0px 0px 20px #00d9ff;  
}

input:hover
{
    box-shadow: 0px 0px 20px #00d9ff;  
    animation: animateBg 5s linear infinite;
}

button:hover
{
    box-shadow: 0px 0px 20px #00d9ff;  
}

.equalBtn
{
    background: #fb7c14;
}

.operator
{
    color: #ffdd00;
}

//**************[[[[[[[[[[[[[[[[[[[[[ Normal Calculator section end ]]]]]]]]]]]]]]]]]]]]]]]*************************


//**************[[[[[[[[[[[[[[[[[[[[[ BMI Calculator section start ]]]]]]]]]]]]]]]]]]]]]]]*************************

.bmiCalculator
{
    opacity: 0;
    scale: 0;
}

.bmiCalculator.show-hide-bmic
{
    @include flex-box(flex,center,center);
    gap: 3rem;
    flex-direction: column;
    opacity: 1;
    scale: 1;
    transition: .5s linear;
    position: absolute;
    right: 5%;
    top: 10%;
}

#bmiCalculator .content
{
    @include flex-box(flex,center,center);
    gap: 2.5rem;
    flex-direction: column;
}

.content .inputsBMI
{
    height: 3rem;
    color: $font-color;
    @include flex-box(flex,space-between,center);
    font-size: 1rem;
    width: 100%;
}

input
{
   height: 100%;
   cursor: auto;
   border: 1px solid $font-color;
   outline: none;
   font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button 
{
    display: none;
}

.content .BMIcalculateBtn
{
  padding: .3rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  background: #fafafa;
  border: 2px solid aqua;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

#bmiCalculator .result
{
    width: 100%;
    color: $font-color;
    font-weight: bold;
}

.result #bmiResult
{
    color: aqua;
    font-size: 1.2rem;
}

#bmiCalculator .bmiComment
{
    height: 2rem;
    @include flex-box(flex,center,center);
}


//**************[[[[[[[[[[[[[[[[[[[[[ BMI Calculator section end ]]]]]]]]]]]]]]]]]]]]]]]*************************

//**************[[[[[[[[[[[[[[[[[[[[[ Sample Interest Calculator section [* start *]]] ]]]]]]]]]]]]]]]]]]]]]]]*************************
.sampleInterest
{
    scale: 0;
    opacity: 0;
    pointer-events: auto;
}


.sampleInterest.show-hide-sic
{
    @include flex-box(flex,center,center);
    gap: 3rem;
    flex-direction: column;
    opacity: 1;
    scale: 1;
    transition: .5s linear;
    position: absolute;
    right: 5%;
    top: 10%;
    height: 35rem;
    z-index: 1000;
}

.sInterest
{
    height: 2rem;
    color: $font-color;
    @include flex-box(flex,space-between,center);
    font-size: 1rem;
    width: 80%;
}

.sInterest input
{
   width: 50%;

}

.allCalBtn
{
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.resultInterestContainer
{
    // height: ;
    font-size: 1.5rem;
    color: $font-color;
    display: none;
}

.resultInterestContainer p span
{
    color: $main-color;
}


//**************[[[[[[[[[[[[[[[[[[[[[ Sample Interest Calculator section [*  end *]]] ]]]]]]]]]]]]]]]]]]]]]]]*************************

//**************[[[[[[[[[[[[[[[[[[[[[ CGPA Calculator section [*  Start  *]]]]]]]]]]]]]]]]]]]]]]]]]]]]*************************
.cgpaCalculator
{
    opacity: 0;
    pointer-events: none;
    scale: 0;
    transition: .5s;
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translate(0%,-50%);
}

.cgpaCalculator.show-hide-cgpamic
{
    opacity: 1;
    pointer-events: auto;
    scale: 1;
}

.cgpaCalculator .cgpaFirstContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.cgpaFirstContainer input
{
    text-align: left;
    font-size: 1.3rem;
}

.cgpaCalculator .cgpaSecondContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.cgpaSecondContainer .cgpaSecondContainerOdderList
{
    height: 25rem;
    // border: 2px solid red;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 2rem;
    display: none;
}

.cgpaSecondContainer .cgpaSecondContainerOdderList::-webkit-scrollbar
{
    opacity: 0;
}

.cgpaSecondContainerOdderList li
{
    color: $font-color;
}

.cgpaSecondContainerOdderList li input
{
    text-align: left;
}

.cgpaCalculator p
{
    color: $font-color;
    font-size: 1.3rem;
}

.cgpaCalculator #cgpa
{
    color: $main-color;
}

.cgpaSecondContainer .resultsgpa-container
{
    display: none;
    text-align: center;
    padding-top: 1rem;
}

//**************[[[[[[[[[[[[[[[[[[[[[ CGPA Calculator section [*   End  * ]]]]]]]]]]]]]]]]]]]]]]]]]]]]*************************

//**************[[[[[[[[[[[[[[[[[[[[[ Making responssive ]]]]]]]]]]]]]]]]]]]]]]]*************************

@media (max-width: 1080px)
{
    .calculator
    {
        padding: 10px;
        border-radius: 15px;
    }
    
    button
    {
    //  width: 40px;
     height: 50px;
     margin: 1.2rem;
     font-size: 1.5rem;
    }
}

@media (max-width: 450px)
{
    .calculator
    {
    padding: 10px;
    border-radius: 15px;
    }
    
    button
    {
     width: 40px;
     height: 50px;
     margin: 1.2rem;
     font-size: 1.5rem;
    }

}

@media (max-width: 365px)
{
    .calculator
    {
    padding: 0px;
    border-radius: 15px;
    }

    button
   {
    width: 40px;
    height: 40px;
    margin: 1.1rem;
    font-size: 1.1rem;
    box-shadow: 0px 3px 15px rgba(0, 255, 204, 0.3);
    cursor: pointer;
   }

}
